<md-input-container ng-class="{ 'md-input-invalid' : form[field.name].$invalid && form[field.name].$touched }">
  <label ng-bind-html="field.title"></label>
  <input 
    name="{{field.name}}"
    ng-model="field.value" 
    ng-disabled="field.settings.disabled || globals.viewModeOnly" 
    ng-required="field.settings.required && !form.saveAsDraft.$modelValue && field.show"
    check-rsa-id-number="field.settings.checkRsaIdNumber && !form.saveAsDraft.$modelValue && field.show" />
  <div ng-messages="form[field.name].$error">
    <div ng-message="required">This field is required</div>
    <div ng-message="checkRsaIdNumber">Invalid RSA ID Number</div>
    <div ng-repeat="validation in field.validation" ng-message-exp="[validation.key]">{{validation.message}}</div>
  </div>
</md-input-container>