<md-input-container ng-class="{ 'md-input-invalid' : form[field.name].$invalid && form[field.name].$touched }" ng-show="field.show">
  <label>{{field.title}}</label>
  <md-select ng-model="field.value" name="{{field.name}}" ng-required="field.settings.required && !form.saveAsDraft.$modelValue && field.show" ng-disabled="field.settings.disabled || globals.viewModeOnly" md-on-open="loadOptions()">
    <md-option ng-value="option.key" ng-repeat="option in field.options">{{option.value}}</md-option>
  </md-select>

  <div ng-messages="form[field.name].$error" ng-show="form[field.name].$invalid && form[field.name].$touched">
    <div ng-message="required">This field is required</div>
  </div>
</md-input-container>


