<md-input-container ng-class="{ 'md-input-invalid' : form[field.name].$invalid && form[field.name].$touched }">
  <label ng-bind-html="field.title"></label>
  <md-datepicker 
    name="{{field.name}}"
    ng-model="field.value"
    ng-required="field.settings.required && !form.saveAsDraft.$modelValue && field.show"
    ng-disabled="field.settings.disabled || globals.viewModeOnly"
    md-min-date="field.settings.minDate" md-max-date="field.settings.maxDate"></md-datepicker>
    
  <div ng-messages="form[field.name].$error" ng-show="form[field.name].$invalid && form[field.name].$touched">
    <div ng-message="required">This field is required</div>
    <div ng-message="format">Invalid format</div>
    <div ng-message="mindate">Before allowed Date</div>
    <div ng-message="maxdate">After allowed Date</div>
    <div ng-repeat="validation in field.validation" ng-message-exp="[validation.key]">{{validation.message}}</div>
  </div>
</md-input-container>
